.whats-new {
  padding: 10px ;
}

.whats-new h2 {
  text-align: center;
  padding: 30px 0px 0px 0px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cardImg1, #cardImg2, #cardImg3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info1, .product-info2, .product-info3  {
  padding: 15px;
  line-height: 30px;
}

.open-edit-ofert-button {
  position: absolute;
  right: 10px;
  background-color: var(--backgroudColor);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
